<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2016 The Weghst Inc. <kevinz@weghst.com>

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.weghst.setaria"/>

    <context:property-placeholder location="classpath:setaria.properties"/>
    <context:property-placeholder location="~/.setaria/setaria.properties" ignore-resource-not-found="true"/>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close"
          p:url="${druid.url}"
          p:username="${druid.username}"
          p:password="${druid.password}"
          p:initialSize="${druid.initialSize}"
          p:minIdle="${druid.minIdle}"
          p:maxActive="${druid.maxActive}"
          p:maxWait="${druid.maxWait}"
          p:timeBetweenEvictionRunsMillis="${druid.timeBetweenEvictionRunsMillis}"
          p:minEvictableIdleTimeMillis="${druid.minEvictableIdleTimeMillis}"
          p:poolPreparedStatements="${druid.poolPreparedStatements}"
          p:maxPoolPreparedStatementPerConnectionSize="${druid.maxPoolPreparedStatementPerConnectionSize}"/>

    <!-- 事务配置 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
          p:dataSource-ref="dataSource"/>

    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="save*"/>
            <tx:method name="update*"/>
            <tx:method name="delete*"/>
            <tx:method name="find*" read-only="true"/>
            <tx:method name="query*" read-only="true"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* com.weghst.setaria.core.service.*.*(..))"/>
    </aop:config>

    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!-- /事务配置 -->

    <!-- MyBatis 配置 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
          p:dataSource-ref="dataSource"
          p:typeAliasesPackage="com.weghst.setaria.core.domain"
          p:mapperLocations="classpath*:com/weghst/setaria/core/repository/*Mapper.xml"/>

    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer"
          p:basePackage="com.weghst.setaria.core.repository"
          p:annotationClass="org.springframework.stereotype.Repository"
          p:sqlSessionFactoryBeanName="sqlSessionFactory"/>
    <!-- /MyBatis 配置 -->


    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- +++++++++++++++                   Web Config                    +++++++++++++++ -->
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <mvc:annotation-driven/>

    <mvc:interceptors>
        <mvc:interceptor>
            <!--<mvc:mapping path="/*"/>-->
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/**/login*"/>
            <mvc:exclude-mapping path="/**/logout*"/>
            <mvc:exclude-mapping path="/**/get-session-user"/>
            <mvc:exclude-mapping path="/configs/pull/**"/>
            <bean class="com.weghst.setaria.console.web.LoginValidatingInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

</beans>
