<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2016 The Weghst Inc. <kevinz@weghst.com>

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weghst.setaria.core.repository.AppRepository">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_app(name,env,description,createdTime) VALUES(#{name}, #{env}, #{description}, #{createdTime})
    </insert>

    <update id="update">
        UPDATE t_app SET name=#{name}, env=#{env}, description=#{description}, lastUpdatedTime=#{lastUpdatedTime}
         WHERE id=#{id}
    </update>

    <update id="updateVersion">
        UPDATE t_app SET version=#{version} WHERE id=#{id}
    </update>

    <delete id="deleteById">
        DELETE FROM t_app WHERE id=#{value}
    </delete>

    <select id="findById" resultType="com.weghst.setaria.core.domain.App">
        SELECT * FROM t_app WHERE id=#{value}
    </select>

    <select id="findByNameAndEnv" resultType="com.weghst.setaria.core.domain.App">
        SELECT * FROM t_app WHERE name=#{name} AND env=#{env}
    </select>

    <select id="findAppsByUserId" resultType="com.weghst.setaria.core.domain.App">
        SELECT * FROM t_app WHERE id IN (SELECT appId FROM t_user_app WHERE userId=#{value}) ORDER BY id DESC
    </select>

    <select id="findAll" resultType="com.weghst.setaria.core.domain.App">
        SELECT * FROM t_app ORDER BY id DESC
    </select>

</mapper>