<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2016 The Weghst Inc. <kevinz@weghst.com>

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weghst.setaria.core.repository.UserAppRepository">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user_app(userId,appId) VALUES(#{appId}, #{userId})
    </insert>

    <insert id="saveUserApps">
        INSERT INTO t_user_app(userId,appId) VALUES
        <foreach collection="list" item="obj" separator=",">
            (#{obj.userId}, #{obj.appId})
        </foreach>
    </insert>

    <delete id="deleteByUserId">
        DELETE FROM t_user_app WHERE userId=#{value}
    </delete>

    <delete id="deleteByAppId">
        DELETE FROM t_user_app WHERE appId=#{value}
    </delete>

    <delete id="deleteUserApps">
        DELETE FROM t_user_app WHERE userId=#{userId} AND appId IN (
        <foreach collection="appIds" item="obj" separator=",">
            #{obj}
        </foreach>
        )
    </delete>

    <delete id="deleteAppUsers">
        DELETE FROM t_user_app WHERE appId=#{appId} AND userId IN (
        <foreach collection="userIds" item="obj" separator=",">
            #{obj}
        </foreach>
        )
    </delete>

    <select id="findUserAppIds" resultType="int">
        SELECT appId FROM t_user_app WHERE userId=#{value}
    </select>

    <select id="findAppUserIds" resultType="int">
        SELECT userId FROM t_user_app WHERE appId=#{value}
    </select>

</mapper>